.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  position: relative;
  display: flex;
  flex-direction: ;
  flex-direction: row;
  height: 200px;
  background-color: red;
}

.container .header_left {
  position: relative;
  width: 875px;
  height: 508px;

  background-image: url("..rasmlar/icons/header_bg.svg");
}
